n8n-workflows/1-scout-approve.json
{
  "name": "1 - Scout & Approve",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "sched-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/apify~facebook-marketplace-scraper/runs?token={{ $env.APIFY_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"searchQuery\": \"dětské oblečení\",\n  \"locationQuery\": \"Prague, Czech Republic\",\n  \"maxItems\": 50,\n  \"minPrice\": 0,\n  \"maxPrice\": 500\n}",
        "options": {}
      },
      "id": "apify-start",
      "name": "Start Apify Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": 90
      },
      "id": "wait-90s",
      "name": "Wait 90s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "wait-webhook-1",
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}/dataset/items?token={{ $env.APIFY_API_KEY }}",
        "options": {}
      },
      "id": "apify-results",
      "name": "Get Apify Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Loop Through Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.anthropic.com/v1/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 256,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"You are an arbitrage scoring assistant. Score this Facebook Marketplace kids' clothing listing for resale on Vinted.cz Czech Republic.\\n\\nTitle: {{ $json.title }}\\nPrice: {{ $json.price }} CZK\\nDescription: {{ $json.description }}\\n\\nScore 1-10 based on:\\n1. Is the FB price competitive/good value for what it is?\\n2. Will this item sell quickly on Vinted at {{ $json.price + 600 }} CZK?\\n\\nFast-selling brands: Zara Kids, H&M, Next, Nike, Adidas, Marks & Spencer, Tommy Hilfiger, Boss Baby, Mayoral, Lego Wear, Reima, Columbia, Petit Bateau\\n\\nRespond ONLY with valid JSON:\\n{\\\"score\\\": <1-10>, \\\"reason\\\": \\\"<one sentence>\\\", \\\"brand\\\": \\\"<brand or unknown>\\\", \\\"condition\\\": \\\"<new/very_good/good/fair>\\\", \\\"size\\\": \\\"<size or unknown>\\\"}\"\n  }]\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "claude-score",
      "name": "Claude Score Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "jsCode": "const inputItem = $input.first();\nconst text = inputItem.json.content[0].text;\nconst parsed = JSON.parse(text);\nreturn [{ json: { ...inputItem.json, ...parsed } }];"
      },
      "id": "parse-claude",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "vintedPrice",
              "value": "={{ $json.price + 600 }}",
              "type": "number"
            },
            {
              "id": "a2",
              "name": "fbId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "fbUrl",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "fbPrice",
              "value": "={{ $json.price }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "includeBinaries": false
        }
      },
      "id": "set-fields",
      "name": "Set Computed Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.score }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-score",
      "name": "Score >= 7?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2010, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendPhoto",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"photo\": \"{{ $json.images[0] }}\",\n  \"caption\": \"{{ '🛍 <b>' + $json.title + '</b>\\n\\n💰 FB: <b>' + $json.fbPrice + ' CZK</b> → Vinted: <b>' + $json.vintedPrice + ' CZK</b>\\n⭐ Score: ' + $json.score + '/10\\n📝 ' + $json.reason + '\\n🏷 Brand: ' + $json.brand + '\\n📏 Size: ' + $json.size + '\\n\\n<a href=\\\"' + $json.fbUrl + '\\\">View on Facebook</a>' }}\",\n  \"parse_mode\": \"HTML\",\n  \"reply_markup\": \"{{ JSON.stringify({ inline_keyboard: [[{ text: '✅ Approve', callback_data: 'approve:' + $json.fbId }, { text: '❌ Skip', callback_data: 'skip:' + $json.fbId }]] }) }}\"\n}",
        "options": {}
      },
      "id": "telegram-send",
      "name": "Send Telegram Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 180]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Items",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Scraped": "={{ $now.toISO() }}",
            "FB URL": "={{ $json.fbUrl }}",
            "FB ID": "={{ $json.fbId }}",
            "Title": "={{ $json.title }}",
            "Description": "={{ $json.description }}",
            "FB Price": "={{ $json.fbPrice }}",
            "Vinted Price": "={{ $json.vintedPrice }}",
            "Images": "={{ $json.images ? $json.images.join(',') : '' }}",
            "Brand": "={{ $json.brand }}",
            "Condition": "={{ $json.condition }}",
            "Size": "={{ $json.size }}",
            "Seller Name": "={{ $json.sellerName }}",
            "Score": "={{ $json.score }}",
            "Score Reason": "={{ $json.reason }}",
            "Status": "=Pending"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "sheets-approved",
      "name": "Append to Sheets (Pending)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2450, 180],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Items",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Scraped": "={{ $now.toISO() }}",
            "FB URL": "={{ $json.fbUrl }}",
            "FB ID": "={{ $json.fbId }}",
            "Title": "={{ $json.title }}",
            "Description": "={{ $json.description }}",
            "FB Price": "={{ $json.fbPrice }}",
            "Vinted Price": "={{ $json.vintedPrice }}",
            "Images": "={{ $json.images ? $json.images.join(',') : '' }}",
            "Brand": "={{ $json.brand }}",
            "Condition": "={{ $json.condition }}",
            "Size": "={{ $json.size }}",
            "Seller Name": "={{ $json.sellerName }}",
            "Score": "={{ $json.score }}",
            "Score Reason": "={{ $json.reason }}",
            "Status": "=Skipped - Low Score"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "sheets-skipped",
      "name": "Append to Sheets (Skipped)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2230, 420],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Start Apify Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Apify Run": {
      "main": [
        [
          {
            "node": "Wait 90s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 90s": {
      "main": [
        [
          {
            "node": "Get Apify Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Apify Results": {
      "main": [
        [
          {
            "node": "Loop Through Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Items": {
      "main": [
        [
          {
            "node": "Claude Score Item",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Claude Score Item": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Set Computed Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Computed Fields": {
      "main": [
        [
          {
            "node": "Score >= 7?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score >= 7?": {
      "main": [
        [
          {
            "node": "Send Telegram Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append to Sheets (Skipped)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Approval": {
      "main": [
        [
          {
            "node": "Append to Sheets (Pending)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Sheets (Pending)": {
      "main": [
        [
          {
            "node": "Loop Through Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Sheets (Skipped)": {
      "main": [
        [
          {
            "node": "Loop Through Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Prague"
  },
  "meta": {
    "instanceId": "n8n"
  }
}
